/* Debian language css file for armenian - hy */
/* please do not touch for now! - Jutta Wrage 2005 */

/* quotes */
html[lang=hy] q:before { content: "\00AB"; }
html[lang=hy] q:after { content: "\00BB"; }
html[lang=hy] q q:before { content: "\201C"; }
html[lang=hy] q q:after { content: "\201D"; }

html[lang=hy] blockquote.quote p:first-child:before { content: "\00AB"; }
html[lang=hy] blockquote.quote p:after { content: ""; }
html[lang=hy] blockquote.quote p.last:after { content: "\00BB"; }
