/* Debian language css file for korean - ko */
/* please do not touch for now! - Jutta Wrage 2005 */

html[lang=ko] #maincol {}

/* quotes ok */
html[lang=ko] q:before { content: "\201C"; }
html[lang=ko] q:after { content: "\201D"; }
html[lang=ko] q q:before { content: "\2018"; }
html[lang=ko] q q:after { content: "\2019"; }

html[lang=ko] blockquote.quote p:first-child:before { content: "\201C"; }
html[lang=ko] blockquote.quote p:after { content: ""; }
html[lang=ko] blockquote.quote p.last:after { content: "\201D"; }
